<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Weather App</h1>

    <!-- Add City Form -->
    <div class="card">
        <h5 class="card-title">Add a new city</h5>
        <form action="/city/add" method="post" class="form">
            <input list="city-list" id="city" name="city" aria-label="Select a city" autocomplete="off" data-1p-ignore
                   data-lpignore="true" data-protonpass-ignore="true"/>

            <datalist id="city-list">
                <option th:each="city : ${cities}" th:value="${city.getName()}"
                        th:label="${city.getName() + ' (' + city.getCountry() + ')'}"></option>
            </datalist>
            <button type="submit" class="button button-primary">Add City</button>
        </form>
    </div>

    <!-- Cities List -->
    <div class="cities-grid">
        <div th:each="cityWeather : ${preferredCities}" class="card">
            <h5 class="card-title" th:text="${cityWeather.cityName()}">City Name</h5>
            <p>
                Temperature: <span th:text="${cityWeather.temperature()}">20</span>°C<br>
                Wind Speed: <span th:text="${cityWeather.windSpeed()}">5</span> km/h<br>
                Weather: <span th:text="${cityWeather.weather()}">Sunny</span>
            </p>
            <form th:action="'/city/delete/' + ${cityWeather.cityId()}" method="post">
                <button type="submit" class="button button-danger button-sm">Remove</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
